<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% products.forEach( product => { %>
        <p onclick="clickedProduct(`<%= JSON.stringify(product) %>`)">
            <%= product.name %> 
        </p>
        <p><%= product.price %> </p>
        <p><%= product.image_urls %> </p>
        
        <p>
           <a href="products/<%= products._id%>">View Details</a> 
        </p>

    <% }) %>

<script src="js/products.js"></script>  

</body>
</html>